.git
.gitignore
.idea
.vscode

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.cache
**/.venv

frontend/node_modules
frontend/dist
frontend/output
frontend/tsconfig.tsbuildinfo

backend/config/settings.toml
backend/tests
backend/tmp
backend/data

deploy/.env
deploy/settings.toml

**/*.log
**/*.sqlite
**/*.sqlite3
state
tmp
logs
